body {
    background-image: url(record.png);
    background-repeat: initial;
    margin: 0;
}

header {
    background-color: rgba(97, 30, 145, 0.568);
    color: rgb(112, 189, 219);
    text-align: center;
}

main {
    background-color: lightgrey;
    padding: 1em;
}